<div class="field">
    <label class="label">{{label}}</label>
<div class="control"> 
<!--we can include mask attribute here 
mask = "(000)-000-000" this way to mask-->   
<input class="input" 
[formControl]="control"
[ngClass]="{'is-danger': showErrors()}"
  /> 
</div>
<!-- errors is an object. When there is no error and everything is valid,
     it will be 'null' and hence we are trying to use
     it as a condition in this element so that
     we will show errors only when it's not null -->
<ng-container *ngIf="showErrors()">
    <div class="help is-danger" *ngIf="control.errors?.['required']">Value is Required.</div>
    <div class="help is-danger" *ngIf="control.errors?.['minlength']">
        Value entered is 
        {{control.errors?.['minlength']?.actualLength}}
        characters long, but it must be at least 
        {{control.errors?.['minlength']?.requiredLength}}
    </div>
    <div class="help is-danger" *ngIf="control.errors?.['maxlength']">
        Value entered is 
        {{control.errors?.['maxlength']?.actualLength}}
        characters long, but it can only be at most
        {{control.errors?.['maxlength']?.requiredLength}}
    </div>
    <div class="help is-danger" *ngIf="control.errors?.['pattern']">
        Invalid Format
    </div>
</ng-container>
</div>